<form>
  <div class="label">
    <label for="name">Nombre:</label>
    <input id="name" type="text" />

    <label for="price">Precio:</label>
    <input id="price" type="number" />

    <label for="description">Descripción:</label>
    <input id="description" type="text" />

    <label for="categoryId">Categoría:</label>
    <select id="categoryId">
      <option value="">Seleccione una opción</option>
      <option value="1">Tenis</option>
      <option value="2">Blusa</option>
      <option value="3">Pantalón</option>
    </select>

    <button type="submit">Crear producto</button>
  </div>
</form>
